body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  height: 100vh;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* align top */
  min-height: 100vh;

  padding-top: 80px; /* <--- this moves card down */
}

.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  width: 450px;
  max-width: 90%;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 600;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 2px dashed #007bff;
  border-radius: 8px;
  background-color: #f0f8ff;
  cursor: pointer;
}

input[type="text"] {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #f94d6a, #5c4efb);
}

.result {
  margin-top: 20px;
  text-align: center;
}

.result p {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
}
